@forward '../../assets/icons/style';

[class^='icon-'][class*='-16px-'],
[class*=' icon-'][class*='-16px-'] {
  font-size: 16px;
}
[class^='icon-'][class*='-20px-'],
[class*=' icon-'][class*='-20px-'] {
  font-size: 20px;
}
[class^='icon-'][class*='-32px-'],
[class*=' icon-'][class*='-32px-'] {
  font-size: 32px;
}
[class^='icon-'][class*='-64px-'],
[class*=' icon-'][class*='-64px-'] {
  font-size: 64px;
}
[class^='icon-'][class*='-96px-'],
[class*=' icon-'][class*='-96px-'] {
  font-size: 96px;
}
